/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,500&family=Raleway:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}



/* Header */

header{
    grid-area: header;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    padding: 12px;
}

/* footer */

footer{
    grid-area: footer;
    text-align: center;
    padding: 15px;
}

/* Aside-bar */

.aside-bar{
    grid-area: aside-bar;
    background-color: gainsboro;
    width: 250px;
    min-height: 100vh;
    padding: 25px;
}

.aside-bar h2{
    margin-bottom: 5px;
}

.aside-bar p{
    color: #999;
    
}

.aside-bar ul{
    list-style: none;
}

.aside-bar ul li{
    display: flex;
    padding: 2px;
}

.aside-bar ul li p{
    padding-left: 5px;
}

/* Grillas */

.grilla{
    grid-area: grilla;
}

.grilla .card{
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    margin: 15px;
}

.grilla .card img{
    width: 200px;
    margin-bottom: 20px;
}

.grilla .card button{
    width: 100%;
    padding: 5px;
    background-color: dodgerblue;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.grilla .card button:hover{
    background-color: blue;
}



/* Grid-container */

.grid-container{
    display: grid;
    grid-template-areas:
    "header header"
    "aside-bar grilla"
    "footer footer";
    gap: 10px;
}

.grid-container .grilla{
    display: grid;
    grid-template-columns: auto auto auto;
}